@font-face {
  font-family: 'Euclid';
  src: url('/static/fonts/Euclid%20Circular%20A%20Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Euclid';
  src: url('/static/fonts/Euclid%20Circular%20A%20Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Euclid';
  src: url('/static/fonts/Euclid%20Circular%20A%20SemiBold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'SangBleu';
  src: url('/static/fonts/SangBleu%20Sunrise.ttf') format('truetype');
  font-weight: normal;
}
