@import 'default/00_settings/all';
@import 'default/01_tools/all';

@import 'default/10_generic/all';
@import 'default/20_elements/all';
@import 'default/30_objects/all';
@import 'default/40_utilities/all';

@import 'map';
@import 'header';
@import 'paragraph';
@import 'd3objects';

.glassy {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(255, 255, 255, 0.46);
}
