.histogram-container {
  height: 300px;
  margin-top: 30px;
  svg {
    overflow: visible;
  }
}

.histogram-rect {
  fill: $color-blue-al;
}

.histogram-text {
  fill: #000;
  font-size: 12px;
}

.graph-line {
  fill: none;
  stroke-width: 10;
}

.line-habitacao {
  stroke: $color-green;
  z-index: 10;
}

.line-al {
  stroke: $color-blue-al;
}

.circle-habitacao {
  fill: $color-green;
}

.circle-al {
  fill: $color-blue-al;
}

.graph-label {
  text-anchor: middle;
  font-size: 15px;
}

.label-habitacao {
  fill: $color-green;
}

.label-al {
  fill: $color-blue-al;
}

.chart-legend {
  margin-top: 30px;

  .legend-item {
    display: flex;
    align-items: center;

    margin-bottom: 5px;

    .legend-text {
      font-size: 14px;
      margin-left: 10px;
    }
  }
}

button {
  position: relative; /* Ensure it's positioned correctly */
  z-index: 10; /* Bring it to the front */
  cursor: pointer; /* Change cursor to pointer on hover */
}
