.histogram-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.histogram-svg {
  width: 600px;
  height: 350px;
}

.histogram-rect {
  fill: $color-blue-al;
}

.histogram-text {
  fill: #000;
  font-size: 12px;
}

.graph-line {
  fill: none;
  stroke-width: 10;
}

.line-habitacao {
  stroke: $color-green;
  z-index: 10;
}

.line-al {
  stroke: $color-blue-al;
}

.circle-habitacao {
  fill: $color-green;
}

.circle-al {
  fill: $color-blue-al;
}

.graph-label {
  text-anchor: middle;
  font-size: 15px;
}

.label-habitacao {
  fill: $color-green;
}

.label-al {
  fill: $color-blue-al;
}

.histogram-container .chart-legend {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  margin-top: 10px;
}

.histogram-container .legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.histogram-container .legend-text {
  margin-left: 5px;
}
