header {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 100vh;
}

.language-selector {
  position: absolute;
  display: flex;
  top: $global-spacing-sm;
  right: $global-spacing-sm;
  font-size: 1.2rem;
  cursor: default;
  z-index: 1;

  & .active {
    color: darken($color-blue-al, 15%);
  }

  & .language {
    cursor: pointer;
  }
}

.parallaxWrapper {
  position: relative;
  top: 0;
  left: 0;
}

.parallaxLayer {
  width: 100%;
  will-change: transform;
  transform: translate3d(0, 0rem, 0);
}

#layer1 {
  background-image: url('/static/images/sky.png');
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
}

#layer2 {
  width: 70vw;
  margin: 10vh auto 0 auto;
  margin-bottom: 20vh;
}

#layer3 {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Adjust height as needed */
    background: linear-gradient(to bottom, transparent, white);
  }
}

.paragraphWrapper {
  position: relative;
  z-index: 1;
  margin-top: 0;

  width: 100%;
  background-color: white;
  padding-bottom: $global-spacing-sm;
}

.paragraphIntro {
  margin: $global-spacing-sm auto;
  text-align: justify;
  font-family: $font-stack-primary;
  line-height: 2;
}

.logo {
  padding: 0 30px;
}

.logoLegend {
  text-align: right;
  font-family: 'Cooper Lt';
  font-weight: light;

  font-size: large;
  color: $color-blue-al;
  margin-top: -50px;

  a {
    text-decoration: none;
    font-family: 'Cooper Md';
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &::after {
      content: '';
      margin-bottom: -0.2em;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: $color-blue-al;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
    }

    @include hover-focus {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.author {
}
.citySelector {
  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 100%;
  pointer-events: auto;
  margin: 0 auto;
  transform: rotate(-10deg);
}

.unselected {
  filter: grayscale(100%);
}

.selected {
  filter: grayscale(0%);
  transform: rotate(5deg);
  cursor: pointer;
}

.citySelector > img:hover {
  filter: grayscale(0%);
  transform: rotate(5deg);
  cursor: pointer;
}
