header {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 100vh;
}

.language-selector {
  position: absolute;
  display: flex;
  top: $global-spacing-sm;
  right: $global-spacing-sm;
  font-size: 1.2rem;
  cursor: default;
  z-index: 1;

  & .active {
    color: darken($color-blue-al, 15%);
  }

  & .language {
    cursor: pointer;
  }
}

.title-image {
  max-width: 1000px;
  margin: $global-spacing-md auto $global-spacing-xs auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;

  & > * {
    align-self: center;
  }

  @include screen-tablet-portrait-and-bigger {
    margin-top: 0;
  }
}

.english {
  color: $color-grey-1;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.authors-description {
  font-family: $font-stack-secondary;
  color: $color-grey-1;
  text-align: center;
  margin-top: $global-spacing-xs;

  a {
    color: $color-grey-2;
    text-decoration: none;
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      margin-bottom: -0.2em;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: $color-blue-al;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
    }

    @include hover-focus {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 60vh; /* 50% of the viewport height */
  overflow: hidden;
  position: relative;
  margin: auto;
}

.full-width-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.logo {
  position: absolute;
  top: 3vh;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
}

.foreground {
  margin-top: 300px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    background: linear-gradient(to bottom, transparent, white);
  }
}

.paragraph {
  position: relative;
  z-index: 1;
  margin-top: 20px;
  background-color: white;
}
