.map-container {
  height: 100vh;
  width: 100vw;
}

.whole-container {
  position: relative;
}

.text-boxes-container {
  position: absolute;
  top: 0;
}

div.mapboxgl-ctrl-attrib,
a.mapboxgl-ctrl-logo {
  visibility: hidden;
}

.mapboxgl-ctrl-top-right {
  padding-top: $global-spacing-lg;
  padding-right: $global-spacing-xs;
}

[type='checkbox'] {
  width: 2rem;
  height: 2rem;
  color: dodgerblue;
  vertical-align: middle;
  appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background 300ms;
  cursor: pointer;
}

/* Pseudo element for check styling */

[type='checkbox']::before {
  content: '';
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #ccd3d8;
}

[type='checkbox']:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

.button-container {
  width: 100%;
  display: flex;
  margin-top: $global-spacing-xlg;
}

a.button {
  appearance: button;
  text-decoration: none;
  background-color: $color-blue-al;
  color: $color-beige;
  padding: $global-spacing-xs;
  margin: 0 auto;
  border-radius: $global-spacing-md;

  &:hover {
    background-color: ($color-blue-al, 10%);
  }
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  background-color: #fff;
  padding: 10px 0;
  width: 100%;
  text-align: left;
  z-index: 10;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.25s ease-out; /* Smooth transition for the bar width */
  padding-left: 20px;
  border-bottom: $color-blue-al 2px solid;
  border-top: $color-blue-al 2px solid;
}

.progress-fill {
  background: $color-blue-al;
  color: #fff;
  padding: 10px 0;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.progress-fill-text {
  padding-left: 20px;
}

.text-boxes-container {
  position: absolute;
  top: 0;
}

.text-box {
  padding: $global-spacing-sm $global-spacing-md;

  margin: 50vh $global-spacing-sm 0 $global-spacing-sm;
  font-size: $font-size-h4;
  word-break: break-word;
  hyphens: none;

  @include screen-tablet-portrait-and-bigger {
    width: 550px;
    margin: 80vh $global-spacing-xlg 0 $global-spacing-xlg;
  }
}

.circleSmall {
  fill: $color-blue-al;
}

.circleBig {
  stroke: $color-blue-al;
  stroke-dasharray: 3;
  fill: transparent;
}

.text-box-note {
  display: flex;
  flex-direction: row;
  color: grey;
  font-style: italic;
  font-size: small;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: $global-spacing-sm;
}

.circle-legend-svg {
  overflow: visible;
}

.centroid-marker {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 200%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: $color-blue-al; /* Adjust the color as needed */
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.heatmap-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.heatmap-rectangle {
  width: 100%;
  height: 20px;
  position: relative;
  margin-bottom: 5px;
}

.heatmap-al {
  background: linear-gradient(to right, rgba(255, 255, 255, 1), $color-blue-al);
}

.heatmap-population {
  background: linear-gradient(to right, #b2589a, #ffffff, #006400);
}

.heatmap-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.label-left,
.label-right,
.label-center {
  font-size: 12px;
}

.label-center {
  font-weight: bold;
}
