.paragraph {
  margin: $global-spacing-sm auto;
  font-family: $font-stack-primary;
  line-height: 2;
}

i {
  font-weight: 500;
}

a {
  color: $color-blue-al;
}

b {
  font-weight: bold;
}

mark {
  font-weight: $font-weight-medium;
  color: #fff;
  background-color: $color-blue-al;
  padding: 0 4px 0 4px;

  & i {
    padding: 0 3px 0 0;
  }
}
